.navbar {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.navbar img {
  width: 346px;
  height: 48px;
}
.nav-links a {
  color: white;
  margin-right: 20px;
  cursor: pointer;
}
.external-links img {
  width: 26px;
  height: 26px;
}
.nav-links {
  display: flex;
  align-items: center;
}
.close-icon {
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
}
.menu-icon {
  display: none;
  color: white;
  margin-right: 20px;
  width: 30px;
  height: 30px;
}
.slide-menu {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: fixed;
  z-index: 10000;
  justify-self: center;
  padding-top: 70px;
  left: -110%;
  width: 330px;
  transition: all 0.5s;
  background-color: black;
  top: 0;
  height: 100%;
}
.slide-menu a {
  margin: 7px 0;
  font-weight: 500;
  color: white;
}
.mob-nav {
  display: none;
}
.slide-menu.active {
  left: 0;
}
@media screen and (max-width: 1200px) {
  .navbar {
    width: 950px;
  }
}
@media screen and (max-width: 990px) {
  .navbar {
    width: 750px;
  }
  .menu-icon {
    display: block;
  }
  /* .navbar > img {
    width: 250px;
  } */
  .mob-nav {
    display: block;
  }
  .internal-link {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 10px 0;
  }
  .nav-links {
    flex-direction: column-reverse;
  }
  .external-links {
    margin: 10px 0;
  }
}
