.App {
  text-align: center;
}
.App p,
.App a,
.App button,
.App li {
  font-family: "Ubuntu", sans-serif;
}
.App h1,
.App h2,
.App h3,
.App h4,
.App h5 {
  font-family: "Magra", sans-serif;
}
.footer {
  background-image: url(/src/assets/backgroundbanana-min.png);
  height: 146px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.footer img {
  width: 40px;
  height: 40px;
  margin: 5px;
}
.embed-responsive-item {
  width: 100% !important;
  height: 100% !important;
}
.video {
  width: 1140px;
  height: 600px;
  margin: 30px auto;
}
@media screen and (max-width: 1200px) {
  .video,
  .embed-responsive-item {
    width: 940px;
    height: 600px;
  }
}
@media screen and (max-width: 950px) {
  .video {
    width: 740px;
    height: 600px;
  }
}
@media screen and (max-width: 768px) {
  .video {
    width: 540px;
    height: 600px;
  }
}
@media screen and (max-width: 576px) {
  .video {
    width: 340px;
    height: 300px;
  }
}
